body {
  background-image: url(pictures/background.jpg);
}

.container{
  position: center;
  padding: inherit;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: red;
}

.login {
  position: relative;
  margin: auto;
  text-align: center;
}

.login input{
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 15px;
}
