body {
  background-image: url(pictures/background.jpg);
}

.container{
  position: center;
  margin: auto;
  background-color: red;
}

.login {
  padding-top: 100px;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: blue;
  width: 300px;
  height: 200px;
}

.login input{
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.submitButton{
  margin-left: 20px;
}
